<h4 class="mb-4">User Home Component</h4>

<div class="can-match">
    <h6>The <u>canMatch router</u> guard is a critical aspect of our app's route access control. 
        To regulate navigation, this guard examines certain conditions before granting access to specific routes. 
        You can explore its implementation in the <u>app-routing.module.ts</u> and <u>admin.guard.ts, seller.guard.ts</u> file located within the <u>route-guard/guards folder.</u> 
        Enjoy your learning journey!
    </h6>
</div>
