.margin{
    margin: 12px 20%;
    margin-bottom: 18px !important;
}

.can-activate-child{
    background-color: #404040;
    color: white;
    font-weight: 500;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.200);

    h6{
        padding: 24px 36px;
        line-height: 135%;
    }
}

.image{
    height: 100%;
    background-color: #1e1e1e;
    background-image: url('./../../../assets/can-activate-child.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;
}