<h3>Angular Route Guards</h3>
<br />

<!-- ROUTE GUARDS NAV -->
<div class="nav">
    <div class="d-flex">
        <button class="btn btn-dark w-100" routerLink="/can-activate">Can Activate</button>&nbsp;&nbsp;
        <button class="btn btn-dark" [style.backgroundColor]="isAuthenticated ? '#38c96a' : '#c93838'" (click)="setAuth()">
            <fa-icon *ngIf="isAuthenticated" [icon]="faCheck" ></fa-icon>
            <fa-icon *ngIf="!isAuthenticated" [icon]="faXmark" ></fa-icon>
        </button>
    </div>
    <button class="btn btn-dark" routerLink="/can-activate-child">Can Activate Child</button>
    <button class="btn btn-dark" routerLink="/can-deactivate">Can Deactivate</button>
    <div class="d-flex">
        <button class="btn btn-dark w-100" routerLink="/can-match">Can Match</button>&nbsp;&nbsp;
        <button class="btn btn-danger" (click)="setType('A')" [class.active]="userType == 'admin'">A</button>&nbsp;&nbsp;
        <button class="btn btn-danger" (click)="setType('S')" [class.active]="userType == 'seller'">S</button>&nbsp;&nbsp;
        <button class="btn btn-danger" (click)="setType('U')" [class.active]="userType == 'user'">U</button>
    </div>
    
    <br />
    <button class="btn btn-dark" [routerLink]="['/home']">Go Back</button>
</div>
