<h4>Angular Pipes</h4><br />

<!-- UPPERCASE LOWERCASE TITLECASE PIPES -->
<h5>Upper, Lower, Title Case Pipes</h5>
<div class="d-flex">
    <h6 class="border">Upper Case Pipe</h6>
    <span class="border">{{pipeType1 | uppercase}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Lower Case Pipe</h6>
    <span class="border">{{pipeType1 | lowercase}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Title Case Pipe</h6>
    <span class="border">{{pipeType1 | titlecase}}</span>
</div>

<!-- DECIMAL PIPES -->
<h5>Decimal Pipes</h5>
<div class="d-flex">
    <h6 class="border">Example 1</h6>
    <span class="border">{{pipeType2 | number}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 2</h6>
    <span class="border">{{pipeType3 | number: '2.3-3'}}</span>
</div>

<!-- CURRENCY PIPES -->
<h5>Currency Pipes</h5>
<div class="d-flex">
    <h6 class="border">Example 1</h6>
    <span class="border">{{pipeType4 | currency}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 2</h6>
    <span class="border">{{pipeType4 | currency: 'JPY'}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 3</h6>
    <span class="border">{{pipeType4 | currency: 'USD' : false}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 4</h6>
    <span class="border">{{pipeType4 | currency: 'USD' : true : '2.1-1'}}</span>
</div>

<!-- DATE PIPES -->
<h5>Date Pipes</h5>
<div class="d-flex">
    <h6 class="border">Example 1</h6>
    <span class="border">{{pipeType5 | date}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 2</h6>
    <span class="border">{{pipeType5 | date: 'short'}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 3</h6>
    <span class="border">{{pipeType5 | date: 'shortDate'}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 4</h6>
    <span class="border">{{pipeType5 | date: 'shortTime'}}</span>
</div>

<!-- PERCENT PIPES -->
<h5>Percent Pipes</h5>
<div class="d-flex">
    <h6 class="border">Example 1</h6>
    <span class="border">{{pipeType6 | percent}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 2</h6>
    <span class="border">{{pipeType6 | percent: '2.2-2'}}</span>
</div>

<!-- JSON PIPE -->
<h5>Json Pipe</h5>
<div class="d-flex">
    <h6 class="border">Json Pipe</h6>
    <span class="border">{{pipeType7 | json}}</span>
</div>

<!-- SLICE PIPES -->
<h5>Slice Pipes</h5>
<div class="d-flex">
    <h6 class="border">Example 1</h6>
    <span class="border">{{pipeType8 | slice: 1:3}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 2</h6>
    <span class="border">{{pipeType9 | slice: 1:6}}</span>
</div>

<!-- KEY VALUE PIPE -->
<h5>Key Value Pipe</h5>
<li *ngFor="let entry of pipeType10 | keyvalue; let i = index;" class="d-flex">
    <h6 class="border">Iteration {{i+1}}</h6>
    <span class="border">Key: {{ entry.key }}, Value: {{ entry.value }}</span>
</li>

<!-- ASYNC PIPE -->
<h5>Async Pipe</h5>
<div class="d-flex">
    <h6 class="border">Observable Data</h6>
    <span class="border">{{ observableData$ | async }}</span>
</div>

<!-- I18nSelect PIPE -->
<h5>I18nSelect Pipe</h5>
<div class="d-flex">
    <h6 class="border">Current Language</h6>
    <span class="border">{{ language }}</span>
</div>
<div class="d-flex">
    <h6 class="border">Description</h6>
    <span class="border">{{ language | i18nSelect: languageMapping }}</span>
</div>

<!-- CUSTOM PIPES -->
<h5>Custom Pipes</h5>
<div class="d-flex">
    <h6 class="border">Example 1 [append]</h6>
    <span class="border">{{customPipe1.city | append}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 2 [summary]</h6>
    <span class="border">{{customPipe2 | summary}}</span>
</div>
<div class="d-flex">
    <h6 class="border">Example 3 [summary]</h6>
    <span class="border">{{customPipe2 | summary : 20}}</span>
</div>
