<h4>Angular Animations</h4><br />

<!-- ANIMATIONS NAV -->
<div class="nav">
    <button class="btn btn-dark" routerLink="/fade-in-and-out">Fade In and Out</button>
    <button class="btn btn-dark" routerLink="/slide-in-and-out">Slide In and Out</button>
    <button class="btn btn-dark" routerLink="/scale">Scale</button>
    <button class="btn btn-dark" routerLink="/rotate">Rotate</button>
    <button class="btn btn-dark" routerLink="/color-change">Color Change</button>
    <button class="btn btn-dark" routerLink="/keyframe">Keyframe Animation</button>
    <button class="btn btn-dark" routerLink="/bouncing">Bouncing Animation</button>
    <button class="btn btn-dark" routerLink="/flipping">Flipping Animation</button>
    <button class="btn btn-dark" routerLink="/scroll">Scroll Animation</button>
    <button class="btn btn-dark" routerLink="/rotate">Sequence Animation</button>
    <button class="btn btn-dark" routerLink="/rotate">Parallel Animation</button>
    <button class="btn btn-dark" routerLink="/rotate">Group Animation</button>
    <button class="btn btn-dark" routerLink="/rotate">Route Transition Animation</button>
    <button class="btn btn-dark" routerLink="/rotate">Loading Spinners</button>
    <button class="btn btn-dark" routerLink="/rotate">Progress Bar</button>
</div>

<br /><br />
<button class="btn btn-dark w-100" [routerLink]="['/home']">Go Back</button>
