<h4>Angular Animations</h4><br />

<!-- ANIMATIONS NAV -->
<div class="nav">
    <button class="btn btn-dark" routerLink="/fade-in-and-out">Fade In and Out</button>
    <button class="btn btn-dark" routerLink="/slide-in-and-out">Slide In and Out</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Scale</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Rotate</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Color Change</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Keyframe Animation</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Bouncing Animation</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Flipping Animation</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Scroll Animation</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Sequence Animation</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Parallel Animation</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Group Animation</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Route Transition Animation</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Loading Spinners</button>
    <button class="btn btn-dark" routerLink="/two-way-binding">Progress Bar</button>
</div>

<br /><br />
<button class="btn btn-dark w-100" [routerLink]="['/home']">Go Back</button>
