<h3>Angular Decorators</h3>
<br />

<!-- DECORATORS NAV -->
<div class="nav">
    <button class="btn btn-dark" routerLink="/input-decorator">Input Decorator</button>
    <button class="btn btn-dark" routerLink="/output-decorator">Output & Event Emitter Decorator</button>
    <button class="btn btn-dark" routerLink="/view-child-decorator">View Child Decorator</button>
    <button class="btn btn-dark" routerLink="/host-listener-decorator">Host Listener Decorator</button>
    <button class="btn btn-dark" routerLink="/host-binding-decorator">Host Binding Decorator</button>
    <br />
    <button class="btn btn-dark" [routerLink]="['/home']">Go Back</button>
</div>
