<hr />
<h4>Form with Custom Validations Example</h4>
<hr />

<div class="container">
    <form [formGroup]="form">
        <!-- USER NAME -->
        <div class="from-group">
            <label class="d-flex mb-1">User Name</label>
            <input type="text" class="form-control mb-2" formControlName="userName" placeholder="Alice Johnson">
        </div>
        <div class="text-danger error-text" *ngIf="fc.userName.touched || fc.userName.dirty">
            <div  class="d-flex mb-2" *ngIf="fc.userName.errors?.['required']">User Name is Required</div>
            <div  class="d-flex mb-2" *ngIf="fc.userName.errors?.['minlength']">User Name Must be at Least 3 Characters</div>
        </div>

        <!-- PASSWORD -->
        <div class="from-group">
            <label class="d-flex mb-1">Password</label>
            <input type="text" class="form-control mb-2" formControlName="password" placeholder="xxxxxxxxxx">
        </div>
        <div class="text-danger error-text" *ngIf="fc.password.touched || fc.password.dirty">
            <div class="d-flex mb-2" *ngIf="fc.password.errors?.['required']">Password is Required</div>
            <div class="d-flex mb-2" *ngIf="fc.password.errors?.['minlength']">Password Must be at Least 6 Characters</div>
            <div class="d-flex mb-2" *ngIf="fc.password.errors?.['noSpaceValidations']">Valid Password can't Contain Spaces</div>
        </div>
    </form>
</div>