<h3>Angular Forms</h3>
<br />

<!-- FORMS NAV -->
<div class="nav">
    <button class="btn btn-dark" routerLink="/driven-form">Template Driven Form</button>
    <button class="btn btn-dark" routerLink="/reactive-form">Reactive Form</button>
    <button class="btn btn-dark" routerLink="/reactive-form-with-form-builder">Form with Form Builder</button>
    <button class="btn btn-dark" routerLink="/form-with-custom-validations">Form with Custom Validations</button>
    <br />
    <button class="btn btn-dark" [routerLink]="['/home']">Go Back</button>
</div>