<h4>Cookies Example</h4><br />

<!-- SET A COOKIE WITH A KEY-VALUE PAIR -->
<div class="d-flex gap-3">
    <h6 class="border w-100">Set Cookie</h6>
    <button class="btn btn-dark border w-25" (click)="setCookie()">SAVE</button>
</div>
<div class="d-flex gap-3 mx-3">
    <input type="text" class="form-control" placeholder="key" [(ngModel)]="setKey">
    <input type="text" class="form-control" placeholder="value" [(ngModel)]="setValue">
</div><br />

<!-- GET THE VALUE OF A COOKIE -->
<div class="d-flex gap-3">
    <h6 class="border w-100">Get Cookie</h6>
    <button class="btn btn-success border w-25" (click)="getCookie()">GET</button>
</div>
<div class="d-flex gap-3 mx-3">
    <input type="text" class="form-control" placeholder="key" [(ngModel)]="getKey"><br />
    <p class="text-start mt-2 w-100">value: <strong [style.color]="displayValue == 'invalid cookie key'  ? '#c93838' : '#38c96a'">{{displayValue}}</strong></p>
</div><br />

<!-- CHECK IF A COOKIE WITH THE GIVEN KEY EXISTS -->
<div class="d-flex gap-3">
    <h6 class="border w-100">Check Cookie</h6>
    <button class="btn btn-info border text-light w-25" (click)="checkCookie()">CHECK</button>
</div>
<div class="d-flex gap-3 mx-3">
    <input type="text" class="form-control" placeholder="key" [(ngModel)]="checkKey"><br />
    <p class="text-start mt-2 w-100">status: <strong [style.color]="checkStatus == 'false'  ? '#c93838' : '#38c96a'">{{checkStatus}}</strong></p>
</div><br />

<!-- DELETE A COOKIE WITH THE GIVEN KEY -->
<div class="d-flex gap-3">
    <h6 class="border w-100">Delete Cookie</h6>
    <button class="btn btn-danger border w-25" (click)="deleteCookie()">DELETE</button>
</div>
<div class="mx-3">
    <input type="text" class="form-control" placeholder="key" [(ngModel)]="deleteKey">
</div><br />

<!-- UPDATE A COOKIE WITH THE KEY-VALUE PAIR -->`
<div class="d-flex gap-3">
    <h6 class="border w-100">Update Cookie</h6>
    <button class="btn btn-primary border w-25" (click)="updateCookie()">UPDATE</button>
</div>
<div class="d-flex gap-3 mx-3 mb-5">
    <input type="text" class="form-control" placeholder="key" [(ngModel)]="updateKey">
    <input type="text" class="form-control" placeholder="value" [(ngModel)]="updateValue">
</div>