<h4>NgIf Example</h4>

<!-- ng-if -->
<button class="btn btn-dark" (click)="addPost()">add post</button>
<button class="btn btn-dark" style="margin-left: 12px" (click)="removePost()">
  remove post</button
><br /><br />

<div *ngIf="arrayObj.length > 0">
  <ul style="width: fit-content; margin: auto">
    <li *ngFor="let post of arrayObj; let i = index">{{ post }}</li>
  </ul>
</div>
<div *ngIf="arrayObj.length == 0">
  <p>there is no data to fetch...</p>
</div>

<h4>NgIf Using Template Directive</h4>
<br />

<!-- ng-if using template directive -->
<button class="btn btn-dark" (click)="addPost()">add post</button>
<button class="btn btn-dark" style="margin-left: 12px" (click)="removePost()">
  remove post</button
><br /><br />

<div *ngIf="arrayObj.length > 0; else noData">
  <ul style="width: fit-content; margin: auto">
    <li *ngFor="let post of arrayObj; let i = index">{{ post }}</li>
  </ul>
</div>
<ng-template #noData>
  <p>there is no data to fetch...</p>
</ng-template>
