<h4>Session Storage Example</h4><br />



<!-- SET DATA IN SESSION STORAGE -->
<div class="d-flex gap-3">
    <h6 class="border w-100">Set Storage Value</h6>
    <button class="btn btn-dark border w-25" (click)="setValueStorage()">SAVE</button>
</div>
<div class="d-flex gap-3 mx-3">
    <input type="text" class="form-control" placeholder="token" [(ngModel)]="setToken">
    <input type="text" class="form-control" placeholder="value" [(ngModel)]="setValue">
</div><br />

<!-- GET DATA FROM SESSION STORAGE -->
<div class="d-flex gap-3">
    <h6 class="border w-100">Get Storage Value</h6>
    <button class="btn btn-success border w-25" (click)="getValueStorage()">GET</button>
</div>
<div class="d-flex gap-3 mx-3">
    <input type="text" class="form-control" placeholder="token" [(ngModel)]="getToken"><br />
    <p class="text-start mt-2 w-100">value: <strong [style.color]="displayValue == 'invalid storage token'  ? '#c93838' : '#38c96a'">{{displayValue}}</strong></p>
</div><br />


<!-- REMOVE DATA FROM SESSION STORAGE -->
<div class="d-flex gap-3">
    <h6 class="border w-100">Remove Storage Value</h6>
    <button class="btn btn-danger border w-25" (click)="removeValueStorage()">REMOVE</button>
</div>
<div class="mx-3">
    <input type="text" class="form-control" placeholder="token" [(ngModel)]="removeToken">
</div><br />

<!-- UPDATE DATA IN SESSION STORAGE -->
<div class="d-flex gap-3">
    <h6 class="border w-100">Update Storage Value</h6>
    <button class="btn btn-primary border w-25" (click)="updateValueStorage()">UPDATE</button>
</div>
<div class="d-flex gap-3 mx-3 mb-5">
    <input type="text" class="form-control" placeholder="token" [(ngModel)]="updateToken">
    <input type="text" class="form-control" placeholder="value" [(ngModel)]="updateValue">
</div>