<h4>Change Detection Example</h4>
<br />

<!-- change detection -->
<button class="btn btn-dark" (click)="addPost()">add post</button>
<button class="btn btn-dark" style="margin-left: 12px" (click)="removePost()">
  remove post</button
><br /><br />

<ul style="width: fit-content; margin: auto">
  <li *ngFor="let post of postArray">
    {{ post }}
    <button
      class="btn btn-dark"
      style="margin-left: 12px"
      (click)="deletePost(post)"
    >
      delete</button
    ><br /><br />
  </li>
</ul>

<!-- usage of array index -->
<h4>Usage of Array Index</h4>
<h4>{{ index }}</h4>
<br />

<ul style="width: fit-content; margin: auto">
  <li *ngFor="let post of postArray; let i = index">
    {{ post }}
    <button
      class="btn btn-dark"
      style="margin-left: 12px"
      (click)="getIndex(i)"
    >
      get index</button
    ><br /><br />
  </li>
</ul>
