<h3>Angular All In One</h3>
<br />

<div class="main">
  <button class="btn btn-dark" [routerLink]="['/decorators']">Decorators</button>
  <button class="btn btn-dark" [routerLink]="['/bindings']">Bindings</button>
  <button class="btn btn-dark" [routerLink]="['/directives']">Directives</button>
  <button class="btn btn-dark" [routerLink]="['/pipes']">Pipes</button>
  <button class="btn btn-dark" [routerLink]="['/forms']" >Forms</button>
  <button class="btn btn-dark" [routerLink]="['/lifecycle-hooks']">Lifecycle Hooks</button> 
  <button class="btn btn-dark" [routerLink]="['/calculator-service']">Services</button>
  <button class="btn btn-dark" [routerLink]="['/route-guards']">Route Guards</button>
  <button class="btn btn-dark" [routerLink]="['/storages']">Storages</button> 
  <button class="btn btn-dark" [routerLink]="['/http-client']">HTTP Client and APIs</button> 
  <button class="btn btn-dark" [routerLink]="['/']">Observables</button> 
</div>
