<h4>Two-Way Binding Examples</h4><br />

<!-- TWO-WAY DATA BINDING -->
<input type="text" [(ngModel)]="userName" maxlength="20" placeholder="type here to active" class="form-control" /><br />
<input type="password" [(ngModel)]="password" maxlength="20" placeholder="type here to active" class="form-control" /><br /><br />

<h6 class="text-start mb-0">User Name: 
  <span class="binded-text">{{ userName }}</span></h6><br />
<h6 class="text-start mb-0">Password: 
  <span class="binded-text">{{password}}</span></h6>
<br />

<!-- EXERCISE -->
<!-- MUST NEED TO IMPORT FORM MODULE IN TO APP MODULE -->
<button class="btn btn-dark" (click)="viewExercise()">View Exercise</button
><br /><br />

<div [style.display]="bool ? '' : 'none'">
  <input type="text" placeholder="post titel" [(ngModel)]="postTitel" class="form-control" /><br />
  <textarea placeholder="post details" [(ngModel)]="postDetails" cols="23" class="form-control" ></textarea><br />
  <input type="text" placeholder="post image url - ./assets/property-binding.jpg" [(ngModel)]="postImage" class="form-control" /><br />
  <input type="text" placeholder="post url - look at bottom" [(ngModel)]="postURL" class="form-control" /><br />
  <input type="checkbox" [(ngModel)]="check" (click)="checkBox()" class="form-check-input"/>&nbsp;&nbsp;Add Background<br /><br />

  <h6 class="text-start mb-0">Post Titel: 
    <span class="binded-text">{{ postTitel }}</span></h6><br />
  <h6 class="text-start mb-0">Post Details: 
    <span class="binded-text">{{ postDetails }}</span></h6><br />
  <img [src]="postImage" alt="" width="150" /><br />
  <a [href]="postURL" [class.edit-url]="check" class="pb-3">{{ postURL }}</a>
</div>
