<h3>Angular Directives</h3>
<br />

<!-- DIRECTIVES NAV -->
<div class="nav">
    <h6>Structural Directive</h6>
    <button class="btn btn-dark" routerLink="/ng-for-directive">NgFor Directive</button>
    <button class="btn btn-dark" routerLink="/ng-if-directive">NgIf Directive</button>
    <button class="btn btn-dark" routerLink="/ng-switch-case-directive">NgSwitchCase Directive</button>
    <h6>Attribute Directive</h6>
    <button class="btn btn-dark" routerLink="/ng-style-directive">NgStyle Directive</button>
    <button class="btn btn-dark" routerLink="/ng-class-directive">NgClass Directive</button>
    <h6>Custom Directive</h6>
    <button class="btn btn-dark" routerLink="/custom-directive">Custom Directive</button>
    <br />
    <button class="btn btn-dark" [routerLink]="['/home']">Go Back</button>
</div>