/* IMPORTING BOOTSTRAP SCSS FILE. */
@import 'bootstrap/scss/bootstrap';

/* IMPORTING PRIMENG CSS FILE. */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.border {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: solid;
}

input {
  padding-left: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  border-width: 1px;
}

.nav {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin: auto;
  width: 100%;
}

.error-text{
  font-size: 14px;
}

.box {
  width: 100%;
  height: 80px;
  background-color: #ff8c00;
  border-radius: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
