<h3>{{ pageHeader }}</h3>
<br />

<div class="main">
  <div class="page" *ngIf="option === 0">
    <button class="btn btn-dark" (click)="onClick(1)">Decorator</button>
    <button class="btn btn-dark" (click)="onClick(2)">Binding</button>
    <button class="btn btn-dark" (click)="onClick(3)">Directive</button>
  </div>

  <div [ngSwitch]="option">
    <div *ngSwitchCase="1" class="sub">
      <button class="btn btn-dark" routerLink="/input-decorator">
        Input Decorator
      </button>
      <button class="btn btn-dark" routerLink="/output-decorator">
        Output & Event Emitter Decorator</button
      ><br />
      <button class="btn btn-dark" (click)="onClick(0)">Go Back</button>
    </div>

    <div *ngSwitchCase="2" class="sub">
      <h6>One-Way Binding</h6>
      <button class="btn btn-dark" routerLink="/data-binding">
        Data Binding
      </button>
      <button class="btn btn-dark" routerLink="/event-binding">
        Event Binding
      </button>
      <h6>Two-Way Binding</h6>
      <button class="btn btn-dark" routerLink="/two-way-binding">
        Two-Way Binding</button
      ><br />
      <button class="btn btn-dark" (click)="onClick(0)">Go Back</button>
    </div>

    <div *ngSwitchCase="3" class="sub">
      <h6>Structural Directive</h6>
      <button class="btn btn-dark" routerLink="/ng-for-directive">
        NgFor Directive
      </button>
      <button class="btn btn-dark" routerLink="/change-detection">
        Change Detection
      </button>
      <button class="btn btn-dark" routerLink="/ng-if-directive">
        NgIf Directive
      </button>
      <button class="btn btn-dark" routerLink="/ng-if-directive">
        NgIf Directive</button
      ><br />
      <button class="btn btn-dark" (click)="onClick(0)">Go Back</button>
    </div>
  </div>
</div>
